/*This sets the box model for the web page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* This sets the background color to the body section */
body {
    background-color: #d9dcd6;
}

/* This sets the styling for the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This sets the styling for the h1 tag in the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This sets the color styling for the seo wording within the span tag */
header h1 .seo {
    color: #d9dcd6;
}

/* This sets the styling for the nav elements of the header */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px; 
}

/* This sets the styling for the unordered list to none */
header nav ul {
    list-style-type: none;
}

/* This sets the styling for the listed items on the nav bar */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This sets the styling for the anchor tags on the nav bar */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This sets the font size for the paragraphs within the content section */
p {
    font-size: 16px;
}

/* This sets the styling for the hero */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This sets the positioning of the 1st and 3rd images within the content class */
.float-left {
    float: left;
    margin-right: 25px;
}

/* This sets the positioning of the 2nd image within the content class */
.float-right {
    float: right;
    margin-left: 25px;
}

/* This sets the styling (width, left margin and display) for the elements within the content class */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This sets the styling for the elements within the benefits class */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This sets the font color and bottom margin for elements within section tags of the benefits class */
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This sets the text align and bottom margin for elements within the h3 tag of the benefits class */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This sets the styling for the image tag of the benefits class */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This sets the styling for the elements within the section tags of the content class */
.content section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This sets the height of the image tags of the content class */
.content img {
    max-height: 200px;
}

/* This sets the font size and bottom margin of the h2 tags of the content class */
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This sets the styling for the footer elements */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This sets the font size for the h2 element within the footer */
footer h2 {
    font-size: 20px;
}
